@charset "utf-8";

// BULMA VARIABLE OVER-RIDES
$primary: #b084eb;
$blue: #7dc1ff;
$input-shadow: none;
$info: $blue;
$background: #fafafa;
$white-bis: lightgrey;

$footer-background-color: $white-bis;
$footer-padding: 3rem 1.5rem 3rem;

@import "~bulma/bulma.sass";
